.wa-chat {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: linear 0.1s;
    z-index: 4;
}

.wa-chat:hover {
    transform: scale(1.1)
}

.chat-mobile {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: linear 0.1s;
}

@media only screen and (max-width: 600px) {
    .wa-chat {
        display:none
    }

    .chat-mobile {
        position: fixed;
        right: 20px;
        bottom: 20px;
        transition: linear 0.1s;
    }
    .chat-mobile:hover {
        transform: scale(1.1)
    }
}