.footer {
    background-color: #3F3F3F;
}

.footer-text-color {
    color: #08B7C8;
}

.footer-text-height {
    line-height: 20px;
}

.footer-text-height p {
    transition: linear 0.1s
}

.footer-text-height p:hover {
    transform: scale(1.1)
}

.footer-text-height > a {
    color: white;
}

.footer-text-height > a:hover {
    color: orange;
    text-decoration: none
}

@media only screen and (max-width: 600px) {
    .footer-center {
        text-align: center;
    }
}