.navbar-front {
    -webkit-box-shadow: 0 6px 6px -6px #999;
    -moz-box-shadow: 0 6px 6px -6px #999;
    box-shadow: 0 6px 6px -6px #999;
}

.nav-text {
    color: #FF7500;
    font-weight: 700;
}

.nav-text-phone {
    color: #247880;
    font-weight: 700;
}

.nav-text:hover {
    color: #D16000;
    font-weight: 700;
}

.nav-item {
    transition: 0.1s linear;
}

.nav-item:hover {
    transform: scale(1.1)
}

@media only screen and (max-width: 600px) {
    .nav-text-phone {
        display: none;
    }
}